{% extends 'usr/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-7">
		<h4>&nbsp;&nbsp;Decks</h4>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Format</th>
					<th>Creation Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-1">
		<a class="btn btn-primary btn-sm btn-block" href="">Create Deck</a>
	</div>
</div>
{% endblock %}
