{% extends 'usr/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-7">
		<h4>&nbsp;&nbsp;Decks</h4>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Format</th>
					<th>Complete</th>
					<th>Details</th>
					<th>Delete</th>
				</tr>

				{% for i in decks %}
					<tr>
						<td></td>
						<td>{{i.name}}</td>
						<td>{{i.format}}</td>
						<td>0%</td>
						<td><a class="btn btn-sm btn-info" href="#">View</a></td>
						<td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock %}
