<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="last-exp">
				<div class="card-header">
					<h5 class="card-title">Last Expansion</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">
						{{ lastset.name }}
					</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="last-sinc">
				<div class="card-header">
					<h5 class="card-title">Last Expansion Date</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{ lastset.date }}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="total-cards">
				<div class="card-header">
					<h5 class="card-title">Cards On Database</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{ totalcards }}</h3>
				</div>
			</div>
		</div>
	</div>
</div>